{{- $geoParam := .Get "geojson" | default "route.geojson" -}}
{{- $geo := $geoParam -}}
{{- with .Page.Resources.GetMatch $geoParam -}}
	{{- $geo = .RelPermalink -}}
{{- end -}}

{{- $gpxParam := .Get "gpx" -}}
{{- $gpx := $gpxParam -}}
{{- with $gpxParam -}}
	{{- with $.Page.Resources.GetMatch . -}}
		{{- $gpx = .RelPermalink -}}
	{{- end -}}
{{- end -}}
{{- $height := .Get "height" | default "420" -}}

<div class="trip-map" data-geojson="{{ $geo }}"{{ with $gpx }} data-gpx="{{ . }}"{{ end }} style="height: {{ $height }}px;"></div>
<p class="trip-map-note">Karte mit Etappenpunkten{{ with $gpx }} und GPX-Route{{ end }}.</p>
